<div class="dashboard">
    <div class="card">
      <h3>Add Student</h3>
      <p>Add a new student to the system</p>
      <a routerLink="/addstudents">Go to Add Student</a>
    </div>
    <div class="card">
      <h3>Add or View student Marks </h3>
      <p>Add student marks</p>
      <a routerLink="/addmarks">Go to add marks</a>
    </div>
    <div class="card">
        <h3>View Students</h3>
        <p>View students in the system</p>
        <a routerLink="/view-students">Go to View Student</a>
      </div>
      <div class="card">
        <h3>Get Student's or Class Transcripts</h3>
        <p>Get transcripts from the system</p>
        <a routerLink="/get-Transcripts">Go to Transcripts</a>
      </div>
      <div class="card">
        <h3>Teacher's Platform</h3>
        <p>Add a new taecher or view teachers from  the system</p>
        <a routerLink="/teachers">Go to Teachers</a>
      </div>
      <div class="card">
        <h3>Add Student</h3>
        <p>Add a new student to the system</p>
        <a routerLink="/addstudents">Go to Add Student</a>
      </div>
      <div class="card">
        <h3>Add Student</h3>
        <p>Add a new student to the system</p>
        <a routerLink="/addstudents">Go to Add Student</a>
      </div>
      <div class="card">
        <h3>Add Student</h3>
        <p>Add a new student to the system</p>
        <a routerLink="/addstudents">Go to Add Student</a>
      </div>
      <div class="card">
        <h3>Add Student</h3>
        <p>Add a new student to the system</p>
        <a routerLink="/addstudents">Go to Add Student</a>
      </div>
    <!-- Add more cards as needed -->
  </div>
  