<button type="submit" routerLink="/">Back</button>
<div class="container">
    <h2>Add / View Marks</h2>
    <div>
      <label for="classSelect">Select Class:</label>
      <select id="classSelect" [(ngModel)]="selectedClass" (change)="onClassChange()">
        <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
      </select>
    </div>
    <div>
      <label for="subjectSelect">Select Subject:</label>
      <select id="subjectSelect" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
      </select>
    </div>
    <br>
    <div *ngIf="students?.length > 0">
    <h1>{{selectedClass}} {{selectedSubject}}</h1>
      <table class="table">
        
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Admission Number</th>
            <th>Marks</th>
          </tr>
        </thead>
        <tbody>
            
          <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.admission }}</td>
            <td><input type="number" [(ngModel)]="student.marks[selectedSubject]" (change)="onMarksChange(student)" placeholder="Enter marks"></td>
          </tr>
        </tbody>
      </table>
      <button (click)="addMarks()">Add Marks</button>
    </div>
    <div *ngIf="students?.length === 0">No students found for the selected class and subject.</div>
  </div>
  