<div class="menu">
    <button class="menu-icon" (click)="toggleMenu()">
      ☰ <!-- Unicode character for the menu icon -->
    </button>
    
  </div>
  
  <div class="menu-links" [class.open]="menuOpened">
    <nav>
        <ul>
          
          
          
        </ul>
      </nav>
    <nav>
       <ul> 
         <li><a routerLink="/" (click)="closeMenu()">Dashboard</a></li>
          <li><a routerLink="/menu" (click)="closeMenu()">About</a></li>
          <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
          <li><a routerLink="/login" (click)="closeMenu()">Login</a></li>
          <li><a routerLink="/addstudents" (click)="closeMenu()">Add student</a></li>
        
       </ul>
    </nav>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
