<!-- add-student.component.html -->
<button type="submit" routerLink="/">Back</button>
<div class="container">
    <h2>Add Student</h2>
    <form (ngSubmit)="addStudent(form)" #form="ngForm"> 
      <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" ngModel="Name" #Name ngModel required>
      </div> 
      <div class="form-group">
        <label for="Nemis">Nemis:</label>
        <input type="text" id="nemis" name="nemis" ngModel="nemis" #nemis ngModel required>
      </div>
      <div class="form-group">
        <label for="Admission">Admission:</label>
        <input type="text" id="admission" name="admission" ngModel="admission" #admission ngModel required>
      </div>        
      <div class="form-group">
        <label for="class">Grade:</label>
        <select ngModel="class" name="class" required>
          <option value="Grade 1">Grade 1</option>
          <option value="Grade 2">Grade 2</option>
          <option value="Grade 3">Grade 3</option>
          <option value="Grade 4">Grade 4</option>
          <option value="Grade 5">Grade 5</option>
          <option value="Grade 6">Grade 6</option>
          <option value="Grade 7">Grade 7</option>
          <option value="Grade 8">Grade 8</option>
        </select>
        
      </div>
      <div class="form-group">
        <label for="parentsfullname">Parent Name:</label>
        <input type="text" id="parentsfullname" name="parentsfullname" ngModel="parentsfullname" #parentsfullname required>
      </div>
      
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="Date" id="dateofbirth" name="dateofbirth" ngModel="dateofbirth" required>
      </div>
      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" ngModel="contact" #contact required>
      </div>
      
      <button type="submit">Add Student</button>
      
    </form>
    
  </div>
  