<!-- header.component.html -->
<header>
    <div class="container">
      <div class="logo">
       <!--<img src="assets/logo.png" alt="Logo">--> 
      
      </div>
      <nav>
        <ul>
          <!--<li><a routerLink="/">Dashboard</a></li>
          <li><a routerLink="/menu">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/addstudents">Add student</a></li>-->
          
          
        </ul>
      </nav>
      <div class="user-profile">
        <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>
  
